.board-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 740px;
  margin: auto;
  .board-case {
    position: relative;
    flex-basis: 80px;
    height: 80px;
    border: 1px solid lightgray;
    text-align: center;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &#case-19  {
      background: url('../../assets/img/hotel.png') no-repeat center center;
      span {
        opacity: 0;
      }
    }
    &#case-42 {
      background: url('../../assets/img/labyrinth.png') no-repeat center center;
      span {
        opacity: 0;
      }
    }
    &#case-52 {
      background: url('../../assets/img/jail.png') no-repeat center center;
      span {
        opacity: 0;
      }
    }
    &#case-58 {
      background: url('../../assets/img/skull.png') no-repeat center center;
      span {
        opacity: 0;
      }
    }
    &#case-63 {
      background: url('../../assets/img/win.png') no-repeat center center;
      span {
        opacity: 0;
      }
    }
  }
}
